
.icon-facebook-squared:before { content: '\e800'; } /* '' */
.icon-youtube:before { content: '\e801'; } /* '' */
.icon-gplus-squared:before { content: '\e802'; } /* '' */
.icon-twitch:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\e804'; } /* '' */
.icon-laptop:before { content: '\e805'; } /* '' */
.icon-graduation-cap:before { content: '\e806'; } /* '' */
.icon-vcard:before { content: '\e807'; } /* '' */
.icon-gmail:before { content: '\e808'; } /* '' */